@import nib
global-reset()

bgcolor = #262519
color1 = #89A949
color2 = #9A6643
color3 = #50985D
color4 = #98833E


body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  background bgcolor
  color #fff
  -webkit-tap-highlight-color rgba(255,255,255,.01)

.unstyled-list
  margin-left 0
  list-style none
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-padding-start 0

.users
  width 100%
  overflow hidden
  @extend .unstyled-list

.user-panel, .add-user, .register
  text-align center
  text-transform uppercase
  background-size contain
  font-weight bold
  color white
  user-select none
  font-size 48px
  letter-spacing 3px
  &:nth-child(3n+1)
    background color1
  &:nth-child(3n+2)
    background color2
  &:nth-child(3n+3)
    background color3
  &:nth-child(3n+4)
    background color4
  transition all 200ms ease-in-out

.user-panel
  .user-buttons
    margin-top -150px
    margin-left 100%

  .user-buttons.swiped-left
    animation swipedLeftOdd 100ms forwards linear

  .user-buttons.swiped-right
    animation swipedRightOdd 100ms forwards linear

  .user.swiped-left
    animation swipedLeftNormal 100ms forwards linear

  .user.swiped-right
    animation swipedRightNormal 100ms forwards linear

.user, .user-buttons, .add-user
  height 150px
  line-height 150px
  width 100%

#friend-form
  padding-top 20px


.user-panel:active
  transform scale3d(.9, .9, 1);

.add-user, .register
  position relative
  input[type='submit']
    display none
  #friend-username, #register-username
    width 100%
    display block
    line-height 90px
    font-size 48px
    letter-spacing 3px
    width 100%
    border 0
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight bold
    text-align center
    color #fff
    background none
    transition all 300ms ease-in-out
    &::-webkit-input-placeholder
      color #fff

.debug
  text-align center
  margin-top 50px
  font-size 20px
  line-height 32px
  color rgba(255, 255, 255, .1)
  height 200px
  li:nth-child(1)
    color rgba(255, 255, 255, .8)
  li:nth-child(2)
    color rgba(255, 255, 255, .4)
  li:nth-child(3)
    color rgba(255, 255, 255, .3)
  li:nth-child(4)
    color rgba(255, 255, 255, .2)
  li:nth-child(n+6)
    display none

.shift-down
  animation debugShift 200ms forwards ease-in-out
.pop-in
  animation debugAppear 200ms forwards ease-in-out

@keyframes debugAppear
  0%
    opacity 0
    transform translate3d(-5px, -10px, 0)
  100%
    opacity 1
    transform translate3d(0, 0, 0)

@keyframes debugShift
  0%
    transform translate(0px, -30px)


@media (max-width: 600px)
  .user-panel, .add-user, .register
    font-size 30px
  .add-user, .register
    #friend-username, #register-username
      font-size 20px

